#addprod{
    line-height: 1em;
    border-width: 10px;
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    margin-bottom: 2%;
    background-color: white;
}

#addprod  div + div {
    margin-top: 1em;
}

.tadd {
    border: 5px solid black;
    cellspacing: 3px;
    background: white;
}

.tadd thead th {
    border: 1px solid rgb(190, 190, 190);
    background-color: orange;
    padding: 10px;
}

.tadd tbody td {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

.bodyadmin {
    background: #EBFCFD;
}

#admin-list input[type="text"]{
    color: black;
    border: 1px solid grey;
}

#category-creator{
    bottom: 0px;
    display:inline-block;
}

#product-creator{
    display:inline-block;
}