.tadd{
    margin-right: auto;
    margin-left: auto;
    float:center;
    clear: none;
    padding: 1em;
    border: 2px solid #CCC;
    border-radius: 1em;
    width: 20%;
    background: #01233f;
    opacity: 0.8;
    color: white;
}