File Edit Options Buffers Tools Help
body{
    background-repeat: no-repeat;
    background-image: url("http://i.imgur.com/tZoGZmZ.jpg");
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: sans-serif;
    width: auto;
    height: auto;
}

.loginbox{
    max-width: 60%;
    width: 30em;
    height: 26em;
    background: #01233f;
    color: #E0FFFF;
    margin: 5% auto 5% auto;
    position: relative;
    box-sizing:border-box;
    padding: 70px 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    opacity: 0.8;
    filter: alpha(opacity=50);
}

.noaccount{
    padding: 0 0.75rem;
}
#loginlogo{
    width: 100px;
    height: 100 px;
    position: absolute;
    top: -50px;
    top: -50px;
    left: calc(50% - 50px);
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox button[type="submit"]{
    width:100%;
    border: none;
    outline: none;
    height: 40px;
    background: #8dcaff;
    color: #fff;
    font-size:18px;
    border-radius: 20px;
}

.loginbox button[type="submit"]:hover{
    cursor: pointer;
    background: #8dcaff;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover{
    color: #8dcaff;
}

#remember-me{
    position: relative;
    float: right;
}

#remember-me .remember-checkbox{
    position: absolute;
    margin-left: 45%;
}

#remember-me .remember-text {
    margin-right: 55%;
}